<nav class="navbar navbar-inverse">
  
    <div class="navbar-brand">
     Secure App
    </div>

    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="/">Home</a></li>
        
        

          {{#if user.admin}}
                <li role="presentation"><a href="/adminAdd">Admin</a></li>
         {{/if}}

           {{#if user}}
              
              <li role="presentation"><a href="/users/logout">Logout</a></li>
            {{else}}
       <li role="presentation"><a href="/users/login">Log In</a></li>
       {{/if}}
    </ul>
    <ul>
      
   </ul>
</nav>