<form action="/submitForm" method="post" id="codeSubmit">
<div class="input">  

<label for="codeTitle">submission title&nbsp; </label>
<input type="text" name="codeTitle">  
<br>        
<label for="userCode">Code&nbsp;</label>
<textarea name="userCode" form="codeSubmit" placeholder="enter your code here"></textarea>

<br>
<button type="submit">INSERT</button>
</form>
</div>