<div class="loggedIn">
<h5>Admin Delete Docs Page</h5>

<h5>Normal users cannot reach this page</h5>

</div>

<div class="submittedData">
  <h3>Previous Submissions</h3>


{{#if user.admin}}
  {{#each userSubmission}}
  
  <br>
<div class="col">
  <a href="/normalView/{{id}}"><h2>{{codeTitle}}</h2></a>
  <small>submitted by {{author}}</small> 

<div class="col">
  
<!-- <form action="/editCode/{{this.id}}" method="post"> -->
<a href="/editCode/{{this.id}}"><button type="submit" class="btn btn-warning" value="{{this.id}}">edit</button></a>
<!-- </form> -->
 

<form action="/deleteCode/{{this.id}}" method="post"> 
<button type="submit" class="btn btn-danger"  value="{{this.id}}">delete</button>
</form>  
    
</div>

{{/each}}
{{/if}}