<div class="indexForm">
<form action="/editCode/{{userSubmission.id}}" method="post" id="editCodeSubmit">

<div class="form-group">
<label for="codeTitle">submission title&nbsp; </label>
<input type="text" class="form-control" name="codeTitle" value="{{userSubmission.codeTitle}}" required>  
</div>
<br> 
 <div class="form-group">     
<label for="userCode">Code&nbsp;</label>
<textarea name="userCode" class="form-control" value="{{userSubmission.formInput}}" form="editCodeSubmit" required>{{userSubmission.formInput}} </textarea>
<p name="author" value="{{userSubmission.author}}"></p>
</div> 
<br>
<button type="submit" form="editCodeSubmit">MAKE CHANGES</button>
</form>

</div>
<!--
<h1>{{userSubmission.codeTitle}}</h1>
<p>{{userSubmission.formInput}}</p>


<small>submitted by {{userSubmission.author}}</small>
-->