<h5 class="loggedIn">Logged in as {{user.name}}</h5>
<div class="padding col indexPage">


<br>
<div class="indexForm">
<form action="/submitForm" method="post" id="codeSubmit">
 
<div class="form-group">
<label for="codeTitle">Submission Title&nbsp; </label>
<input type="text" class="form-control" name="codeTitle" required> 
</div> 
<br>    
<div class="form-group">

<label for="userCode">Code&nbsp;</label>
<textarea name="userCode" form="codeSubmit" class="form-control" placeholder="enter your code here" required></textarea>
</div>
<p name="author" value="{{user.name}}"></p>
<br>
<button type="submit">INSERT</button>
</form>
</div>

</div>


<div class="submittedData">
  <h3>Previous Code Submitted</h3>

{{#if user.admin}}

  {{#each userSubmission}}
  
  <br>
<div class="col">
  <a href="/normalView/{{id}}"><h2>{{codeTitle}}</h2></a>
  <small>submitted by {{author}}</small> 


  <div class="col">
<!-- <form action="/editCode/{{this.id}}" method="post"> -->
<a href="/editCode/{{this.id}}"><button type="submit" class="btn btn-warning" value="{{this.id}}">edit</button></a>
<!-- </form> -->
 </div>


  {{/each}}
  {{else}}
  {{#each userSubmission}}
  
  <br>
<div class="col">
      <a href="/normalView/{{id}}"><h5>{{codeTitle}}</h5></a>
     <small>submitted by {{author}}</small>     
</div>

  {{/each}}
  {{/if}}

</div>

</div>