<div class ="submittedCode padding col">


<h1>{{userSubmission.codeTitle}}</h1>
<div >
<p class="">{{userSubmission.formInput}}</p>
</div>
<small>submitted by {{userSubmission.author}}</small>

</div>