<div class="padding col loginForm">
  {{#if errors}}
  {{#each errors}}
  <div class="alert alert-danger">{{msg}}</div>
  {{/each}}
  {{/if}}
  <div class="col">
    <form method="post" action="/users/login">
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" name="username" placeholder="Username" required>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" autocomplete="off" class="form-control" name="password" placeholder="Password" required>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
  <form>
</div>