<h2 class="page-header">Register</h2>
{{#if user}}
        <div class="alert alert-danger">Username has taken already try new</div> 
{{/if}}
{{#if mail}}
        <div class="alert alert-danger">Email has taken already try new</div> 
{{/if}} 
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<form class="padding" method="post" action="/users/register">
   <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control"  placeholder="Name" name="name" required>
  </div>
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" placeholder="Username" name="username" required>
  </div>
   <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" placeholder="Email" name="email" required>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Password" name="password" required>
  </div>
  <div class="form-group">
    <label>Confirm Password</label>
    <input type="password" class="form-control" placeholder="Password" name="password2" required>
  </div>
  <div>
    <label>admin</label>
    <input type="checkbox" name="checked" value="true">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>