.padding {
  padding: 10px;
}
.loggedIn {
  float: right;
  margin-right: 20px;
}
.indexForm {
  margin-left: 15%;
  margin-right: 15%;
}

.submittedData {
  margin-left: 15%;
  margin-right: 15%;
}
.submittedCode {
  margin-left: 10%;
  margin-right: 10%;
}

a {
  color: #00B7FF;
}

h3 {
  font-size: 2em;
}
.highlight {
  background-color: #FFFF00
}

input.valid{
  border-color: #36cc36;
}
input.invalid{
  border-color: orange;
}
input + p{
  font-family: arial;
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  margin: 0 10px;
  color: orange;
  opacity: 0;
  height: 0;
}
input.invalid + p{
  opacity: 1;
  height: auto;
  margin-bottom: 20px;
}
.btn {
  padding: 5px;
  margin-bottom: 5px;
  min-width: 130px;

}